<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="~/ui/imgs/shortcut.png">
    <link rel="stylesheet" href="~/dashboard/libraries/bootsrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/dashboard/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/dashboard/css/themify-icons.css">
    <link rel="stylesheet" href="~/dashboard/css/metisMenu.css">
    <link rel="stylesheet" href="~/dashboard/libraries/carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/dashboard/css/slicknav.min.css">
    <link rel="stylesheet" href="~/dashboard/libraries/toastr/toastr.min.css">
    <!-- amcharts css -->
    <!-- style css -->
    <link rel="stylesheet" href="~/dashboard/css/typography.css">
    <link rel="stylesheet" href="~/dashboard/css/default-css.css">
    <link rel="stylesheet" href="~/dashboard/css/styles.css">
    <link rel="stylesheet" href="~/dashboard/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/dashboard/js/vendor/modernizr-2.8.3.min.js"></script>
    @await RenderSectionAsync("links",false)
    <link rel="stylesheet" href="~/dashboard/css/ekstra.css">

</head>

<body>

    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="/Dashboard"><h2 style="color:white;font-size:xx-large;max-width:180px">Dashboard</h2></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li @await RenderSectionAsync("home_active",false)>
                                <a href="javascript:void(0)" aria-expanded="true">
                                    <i class="ti-dashboard"></i><span>dashboard</span>
                                </a>
                                <ul class="collapse">
                                    <li class="active"><a href="/Dashboard/Index">Dashboard</a></li>
                                    <li><a href="/Dashboard/SettingsSeoUpdate">Seo dashboard</a></li>
                                </ul>
                            </li>
                            

                            <li @await RenderSectionAsync("settings_active",false)><a href="/Dashboard/SettingsUpdate"><i class="ti-settings"></i> <span>Settings</span></a></li>

                            <li @await RenderSectionAsync("content_active",false)>
                                <a href="javascript:void(0)" aria-expanded="true">
                                    <i class=" ti-direction  "></i><span>Content</span>
                                </a>
                                <ul class="collapse">
                                    <li><a href="/Dashboard/Contents">Contents</a></li>
                                    <li><a href="/Dashboard/CreateContent">Create Content</a></li>
                                </ul>
                            </li>
                            <li @await RenderSectionAsync("contentDetail_active",false)>
                                <a href="javascript:void(0)" aria-expanded="true">
                                    <i class="ti-direction-alt"></i><span>Content Detail</span>
                                </a>
                                <ul class="collapse">
                                    <li><a href="/Dashboard/ContentDetails">Content Details</a></li>
                                    <li><a href="/Dashboard/CreateContentDetail">Create Content Detail</a></li>
                                </ul>
                            </li>

                            <li @await RenderSectionAsync("services_active",false)>
                                <a href="javascript:void(0)" aria-expanded="true">
                                    <i class="ti-view-list-alt "></i><span>Service</span>
                                </a>
                                <ul class="collapse">
                                    <li><a href="/Dashboard/Services">Services</a></li>
                                    <li><a href="/Dashboard/CreateService">Create Service</a></li>
                                </ul>
                            </li>
                            <li @await RenderSectionAsync("skills_active",false)>
                                <a href="javascript:void(0)" aria-expanded="true">
                                    <i class="ti-gift "></i><span>Skill</span>
                                </a>
                                <ul class="collapse">
                                    <li><a href="/Dashboard/Skills">Skills</a></li>
                                    <li><a href="/Dashboard/CreateSkill">Create Skill</a></li>
                                </ul>
                            </li>

                            <li @await RenderSectionAsync("messages_active",false)>
                                <a href="/Dashboard/Messages">
                                    <i class="ti-email"></i> <span>Messages</span>
                                </a>
                            </li>

                            <li @await RenderSectionAsync("user_settings_active",false)>
                                <a href="/Dashboard/UserSettings"><i class="ti-user"></i> <span>User Settings</span></a>
                            </li>

                         
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <!-- <div class="search-box pull-left">
                            <form action="#">
                                <input type="text" name="search" placeholder="Search..." required>
                                <i class="ti-search"></i>
                            </form>
                        </div> -->
                        <div class="breadcrumbs-area clearfix pt-1">
                            <h4 class="page-title pull-left">Dashboard</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="/Dashboard">Home</a></li>
                                @await RenderSectionAsync("page")
                            </ul>
                        </div>

                    </div>

                    <div id="nav-links" class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                            
                            <li title="Look at the page">
                                <i onclick="window.open('/Home','_blank')" class="ti-eye"></i>
                            </li>
                            
                            <li>
                                <i onclick="window.location.replace('/Dashboard/SettingsUpdate')" class="ti-settings"></i>
                            </li>

                            <li class="dropdown">
                                @await Component.InvokeAsync("LastMessages")
                            </li>
                            <li>
                                <i class="ti-user dropdown-toggle active" data-toggle="dropdown">
                                </i>
                                <div class="btn-group ">

                                    <div class="dropdown-menu " x-placement="bottom-start"
                                         style="position: absolute; transform: translate3d(-112px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <a class="dropdown-item" href="/Dashboard/Messages">Messages <i class="ti-email "></i></a>
                                        <a class="dropdown-item" href="/Dashboard/UserSettings">Settings <i class="ti-user "></i></a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/Account/Logout">Log Out <i class=" ti-control-skip-forward "></i></a>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- header area end -->
            <div class="main-content-inner">
                @RenderBody()

            </div>

            <div class="page-up-btn">
                <i class="ti-angle-up"></i>
            </div>
        </div>
    </div>

    @*alert*@
    <div style="display:none">
        @Html.Raw(TempData["alerts"])
    </div>

    <!-- scripts -->
    <!-- jquery latest version -->
    <script src="~/dashboard/libraries/jquery/jquery-2.2.4.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>*@

    <!-- bootstrap 4 js -->
    <script src="~/dashboard/libraries/bootsrap/popper.min.js"></script>
    <script src="~/dashboard/libraries/bootsrap/bootstrap.min.js"></script>
    <script src="~/dashboard/libraries/carousel/owl.carousel.min.js"></script>
    <script src="~/dashboard/js/metisMenu.min.js"></script>
    <script src="~/dashboard/libraries/jquery/jquery.slimscroll.min.js"></script>
    <script src="~/dashboard/libraries/jquery/jquery.slicknav.min.js"></script>

    @*toastr*@
    <script src="~/dashboard/libraries/toastr/toastr.min.js"></script>

    @await RenderSectionAsync("datatable_scripts",false)
    @*alerts*@
    <script>
        const Infoalerts = document.querySelectorAll(".infoAlert")
        Infoalerts.forEach((alert) => {
            toastr.info(alert.textContent)
        })
        const Successalerts = document.querySelectorAll(".successAlert")
        Successalerts.forEach((alert) => {
            toastr.success(alert.textContent)
        })
        const Warningsalerts = document.querySelectorAll(".warningAlert")
        Warningsalerts.forEach((alert) => {
            toastr.warning(alert.textContent)
        })
        const Erroralerts = document.querySelectorAll(".errorAlert")
        Erroralerts.forEach((alert) => {
            toastr.error(alert.textContent)
        })

    </script>    

    <script src="~/dashboard/libraries/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/dashboard/libraries/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- others plugins -->
     
    <script src="~/dashboard/js/plugins.js"></script>
    <script src="~/dashboard/js/scripts.js"></script>
    <script src="~/dashboard/js/ekstra.js"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>

</html>

