@model List<ServiceListDto>
@{
    Layout = "_PanelLayout";

}
@section page{
    <li><span>Services</span></li>
}
<div class="row">
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Services</h4>
                <div class="data-tables datatable-primary">
                    <table id="tabledataService" class="text-center">
                        <thead class="text-capitalize">
                            <tr>
                                <th>Icon</th>
                                <th>Name</th>
                                <th>Rank</th>
                                <th>Situation</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count > 0)
                            {
                                @foreach (var service in Model)
                                {
                                    <tr>
                                        
                                        <td><img width="40px" src="~/imgs/ServiceIcons/@service.iconPath"/></td>
                                        <td>@service.serviceName</td>
                                        <td>@service.rank</td>
                                        @if (service.isActive == true)
                                        {
                                            <td class="badge p-2 btn-xl mt-4 badge-success">Active</td>

                                        }else{
                                            <td class="badge p-2 btn-xl mt-4 badge-secondary">Passive</td>
                                        }                                                                           
                                                                           
                                        <td>
                                            <a onclick="removeService(@service.id,this)" href="javascript:void(0)">
                                                <i class="ti-trash"></i>
                                            </a>
                                            <a href="/Dashboard/UpdateService/@service.id" href="javascript:void(0)">
                                                <i class="ti-pencil-alt"></i>
                                            </a>
                                        </td>

                                    </tr>
                                }
                            }
                            else
                            {
                                <span style="display:none" class="infoAlert">You don't have a any Service !'</span>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@section services_active{
    class="active"
}
@section links{    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">

}
@section datatable_scripts{
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>



}
@section scripts{
    <script>
        $(document).ready(function () {
            $('#tabledataService').DataTable();
        });
        


        function removeService(id, element) {
            if (id <= 0 ) {
                toastr.warning("Something went wrong")
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/Dashboard/DeleteService',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: {
                        id: id
                    },
                    success: function (result) {
                        if (result == "success"){
                            element.parentElement.parentElement.remove()
                            toastr.success("Service Deleted")
                        }
                        else{
                        toastr.error("Something went wrong ")

                        }

                    },
                    error: function () {
                        toastr.error("Something went wrong ")
                    }
                })
            }
        }
    </script>
}
