// Initial color with name
$black: #000000; // Black
$black_russian: #12141c; // Black Russian
$soft_black_russian: #171921; // Soft Black Russian
$blue_violet: #716aa0; // Blue Violet
$corn_field: #fff9c0; // Corn Field
$charcoal: #484848; // Charcoal
$citrus: #94b800; // Citrus
$dim_gray: #454545; // Dim Gray
$darkgray: #a4a4a4; // Dark gray
$deep_cerise: #e51681; // Deep Cerise
$eclipse: #3c3c3c; // Eclipse
$zinnwaldite: #eabeab; // Zinnwaldite
$gray: #767676; // Gray
$green2: #00ebac; // Green 2
$green: #7bc043; // Green
$silver_tree: #53b596; // Silver Tree
$golden: #eaad11; // golden
$golden_poppy: #f8c000; // Golden Poppy
$gainsboro: #dddddd; // Gainsboro
$harley_davidson_orange: #f74a05; // Harley Davidson Orange
$lavender: #eeedfd; // Lavender
$lochmara: #21759b; // Lochmara
$lucky_paint: #252c48; // Lucky Paint
$medium_slate_blue: #b588fb; // Medium Slate Blue
$curious_blue: #7486f6; // Curious Blue
$matterhorn: #795548; // Matterhorn
$midnight_express: #1b1d38; // Midnight Express
$nevy: #232c3b; // Nevy blue
$night_rider: #2d2d2d; // Night Rider
$nero: #141414; // Nero
$orange: #ff6f69; // Orange Color
$snow: #eff2f7; // Snow
$zumthor: #eaf1ff; // Zumthor
$silver: #c3c3c3; // Silver
$white: #ffffff; // White
$white_smoke: #F8F8F8; // White Smoke
$white_smoke_two: #F5F5F5; // White Smoke
$suva_grey: #efefef; // Suva Grey
$soft_nero: #333333; // Soft Nero
$soft_black: #181d31; // Black
$turquoise: #27848a; // Bright Turquoise
$tangerine_yellow: #fdca2e; // Tangerine Yellow
$yellow: #fdcc0d; // yellow
$red: #9b2182; // red
$purple: #8e54e9; // Purple
$medium_purple: #9657f6; // Medium Purple
$very_light_grey: #cccccc; // Very Light Grey

//Text color
$color_text_main: #393939; // body text main color
$color__heading: #2a2a2a; // Heading color
$color__subheading: #9a9a9a; // Sub Heading color
$color__primary: #E9204F; // Primary color
$color__secondary: #8e54e9; // Secondary color
$color__product: #08083c; // Product bg color
$color__main-bg: #101010; // Secondary color
$color__menu-text: #282828; // Menu text color
$color__widget-text: #ccd0d5; // Widget text color
$color__meta: #595959; // Post meta color
$color__meta-footer: #515151; // Post Footer meta color
$color__meta-widget: #8b8b8b; // Post Footer meta color
$color__footer-bg: #f6f6f6; // Footer Background color
$color__footer: #cbcbcb; // Post Footer text-color
$color__novel: #999999; // Color Nobel
$color__ligth-gray: #d0d0d0; // Light Gray

//border color
$color__border-one: #D0D0D0; // Feature background Stock
$color__border-two: #DDDDDD; // wedget border
$color__border-three: #E0E0E0; // wedget border