html {
	font-size: 100%;
}

body {
    background-color: $white;
    font-family: $font_body;
    font-size: $base__font-size;
    font-weight: normal;
    line-height: $font__line-height-body;
    color: $color_text_main;
    position: relative;
    @media only screen and (max-width: 575px) {
    font-size: 15px; 
	}
}

@import "headings";

@import "copy";