/*-------------------------------------------------
    [ ## Lists ]
*/
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1em;
}

.remove-broswer-defult {
	list-style: none;
	padding: 0;
	margin: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}