a {
	color: inherit;
	@include prefixed(transition, all 0.3s);
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: 0;
		text-decoration: none;
	}
}
